<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
{% if page.url == "/" %}
	<title>{{ site.hometitle }}</title>
{% else %}
	<title>{% if page.title %} {{ page.title }} - {{ page.subtitle }} {% endif %} | {{ site.title }}</title>
{% endif %}
<meta name="keywords" content="high quality programming, .net core, programming blog, quality of software, software blog, software development blog, mehran zand blog">
<meta name="description" content="{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
<meta name="author" content="Mehran Zand">
<meta name="og:site_name" content="Mehran Zand">
<meta name="og:type" content="article">
<meta name="og:locale" content="en_US">
<meta name="twitter:account_id" content="34207265">
<meta name="twitter:creator" content="@mehranzand">
<meta name="twitter:site" content="@mehranzand">
<meta name="twitter:title" property="og:title" content="Mehran's Blog About Computers">
<meta name="twitter:description" property="og:description" content="Mehran Zand blogging about programming, .net core, python, project managementand startup; at least one new post every week."> 
<meta name="twitter:url" property="og:url" content="https://mehranzand.github.io">
{% if page.tags %}<meta name="keywords" content="{{ page.tags | join: ', ' }}">{% endif %}
<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl }}">